# Backend application
NODE_ENV=development
PORT=4000

# PostgreSQL connection
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=simple_invoice
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Minimum 32 characters. Generate with: openssl rand -base64 32
JWT_SECRET=5kXz0gHq6q9tLJp3Vn8bR2mYc4sA7wE1dF0uP9iKxZQ=
JWT_EXPIRES_IN=3600
